DATABASE_URL=
PORT=8000
ALLOW_ORIGINS=*

ENVIROMENT=DEV
RUN_MIGRATION=true
RUN_SEEDER=false

# ENVIROMENT=PROD
# RUN_MIGRATION=FALSE

# Oauth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
