DATABASE_URL=
PORT=8000
ALLOW_ORIGINS=*

ENVIROMENT=DEV
RUN_MIGRATION=true
RUN_SEEDER=false

# ENVIROMENT=PROD
# RUN_MIGRATION=FALSE

# Oauth2
URI_REDIRECT=http://127.0.0.1:8000/api/v1/auth/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Mail service
# Dev
EMAIL_PROVIDER=mailpit
EMAIL_FROM=noreply@myapp.local
EMAIL_FROM_NAME=My App
APP_URL=http://localhost:8000

MAILPIT_HOST=localhost
MAILPIT_PORT=1025
MAILPIT_WEB_URL=http://localhost:8025

# Prod - Resend
# EMAIL_PROVIDER=resend
# EMAIL_FROM=noreply@myapp.com
# EMAIL_FROM_NAME=My App
# APP_URL=https://myapp.com

# RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxx
